/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo global */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Estilo do relógio */
  .relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4CAF50;
    font-size: 40px;
  }
  
  .relogio div {
    text-align: center;
    margin: 0 20px;
  }
  
  .relogio span {
    display: block;
    font-size: 80px;
    color: #fff;
  }
  
  .relogio .tempo {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
  
  /* Estilo do link de retorno */
  .ha {
    text-align: center;
    margin-top: 20px;
  }
  
  .ha a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
  }
  
  .ha a:hover {
    text-decoration: underline;
  }
  
  
@media only screen and (max-device-width: 400px) and (max-device-height: 600px) {
    
  /* Estilo global */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
 /* Estilo do relógio */
 .relogio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #4CAF50;
  font-size: 10px;


}
.relogio div {
  text-align: center;
  margin: 0 1px;
}
.relogio .tempo {
  font-size: 15px;
  color: #fff;
  text-transform:lowercase;
}
.relogio span {
  display: block;
  font-size: 15px;
  color: #fff;
}
.ha a {
  text-decoration: none;
  color: #4CAF50;
  font-size:20px;
}
}