*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculadora{
    background: #5c3;
    padding: 20px;
    border-radius: 10px;
}
.calculadora form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1),  5px 5px 15px rgb(0,0,0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}
form .display input{
   text-align: right;
   flex: 1;
   font-size: 45px;
   box-shadow: none;
    
}   
form input.igual{
    width: 145px;
}
form input.operador{
    color: rgb(238, 255, 0);
}
.calculadora  {color: rgb(89, 219, 53);
    text-decoration: none;
}
.calculadora  a{color: rgb(89, 219, 53);
    text-decoration: none;
    
}
.heartbeat{animation:heartbeat 1.5s ease-in-out infinite both}

@keyframes heartbeat{from{transform:scale(1);transform-origin:center center;animation-timing-function:ease-out}10%{transform:scale(.91);animation-timing-function:ease-in}17%{transform:scale(.98);animation-timing-function:ease-out}33%{transform:scale(.87);animation-timing-function:ease-in}45%{transform:scale(1);animation-timing-function:ease-out}}

@media only screen and (max-device-width: 400px) and (max-device-height: 600px) {
    
.container{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;}

.calculadora{
    background: #5c3;
    padding: 0px;
    border-radius: 0px;
}
.calculadora form input{
    border: 0;
    outline: 0;
    width: 45px;
    height: 60px;
    border-radius: 10px;}

.container {
        max-width:100%;
        padding: 0px;
        display: block;
    }
    
.calculadora {
        max-width: 100%;
    }
    
.calculadora form input{
    border: 0;
    outline: 0;
    width: 70px;
    height:65px;
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1),  5px 5px 15px rgb(0,0,0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 1px 0;

}
form .display input{
   text-align: right;
   flex: 1;
   font-size: 35px;
   box-shadow: none;
    
}   
form input.igual{
    width: 100px;
}
form input.operador{
    color: rgb(238, 255, 0);
}
.calculadora  {color: rgb(89, 219, 53);
    text-decoration: none;
}
.calculadora  a{color: rgb(89, 219, 53);
    text-decoration: none;
    
}}
